<form action="/celebrities/create" method="post">
   <label for="">Name</label>
   <input type="text" name="theName" id="">

    <label for="">Occupation</label>
   <input type="text" name="theOccupation" id="">

    <label for="">Catch Phrase</label>
   <input type="text" name="theCatchPhrase" id="">

   <button type="submit"> Save</button>


</form>